@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.header__h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  width: 100%;
  background: #000;
}
.header__logo--burger {
  display: none;
}
.header__burger-menu {
  display: flex;
  flex-direction: row;
}
.header__container {
  display: flex;
  flex-direction: row;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.header__wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__logo {
  margin-right: 63px;
}
.header__nav {
  width: 470px;
}
.header__copyright {
  align-self: center;
}
.header__copyright-link {
  color: white;
  text-decoration: none;
}

.logo {
  display: block;
  width: 82px;
  height: 52px;
  color: white;
  font-size: 19px;
  line-height: 140%;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 2px;
}
.logo__positioner {
  position: relative;
}
.logo__positioned {
  height: 30px;
  width: auto;
  position: absolute;
  left: 10px;
  top: -2.5px;
  height: 23px;
}

.nav__list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__link {
  text-decoration: none;
  color: white;
}
.nav__link--active {
  color: #E47209;
}

.section-1 {
  height: 780px;
  background-image: url("../../assets/images/sec-1/Giant Panda.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.favorite {
  position: relative;
  width: 1160px;
  height: 780px; /*corresponds to section-1*/
  margin-left: auto;
  margin-right: auto;
}
.favorite__big-circle {
  position: absolute;
  top: 92px; /*header height 80px + section offset 12px */
  right: 108px;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.favorite__content {
  margin: 0;
  width: 500.31px;
  height: 400px;
  box-sizing: border-box;
  position: absolute;
  top: 74px;
  left: 73px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.favorite__highlight {
  color: #FFEE2E;
}
.favorite__btn {
  position: absolute;
  top: 534px;
  left: 174px;
}

.round-btn {
  display: block;
  box-sizing: border-box;
  width: 298px;
  height: 54px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.round-btn:hover {
  background: #E47209;
}
.round-btn:active {
  background: #4B9200;
}
.round-btn--disabled {
  pointer-events: none;
  cursor: default;
  background: #767474;
}

.section-2 {
  background-image: url("../../assets/images/sec-2/bg-images/flower_foto1.png"), url("../../assets/images/sec-2/bg-images/strelitzia 1.png"), url("../../assets/images/sec-2/bg-images/palm_foto.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right 12px, right bottom, left bottom;
}
.section-2__container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
  padding-bottom: 100px;
}
.section-2__img {
  width: 609px;
}
.section-2__cap {
  width: 465px;
}
.backstage {
  height: 403px;
  box-sizing: border-box;
  margin-bottom: 180px;
  display: flex;
  justify-content: space-between;
  color: #333B41;
}
.backstage__img {
  display: block;
  width: 609px;
}
.backstage__cap {
  width: 465px;
}
.backstage__h-1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 120%;
}
.backstage__p-1 {
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 54px;
}
.backstage__h-2 {
  margin-top: 0;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 120%;
}
.backstage__p-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.animals-card__line-1, .animals-card__line-2 {
  display: flex;
  justify-content: space-between;
}
.animals-card__line-1 {
  padding-bottom: 20px;
  position: relative;
}
.animals-card__line-2 {
  margin-bottom: 75px;
}
.animals-card__btn {
  margin-left: auto;
  margin-right: auto;
}
.animals-card__arrow-btn-next {
  position: absolute;
  bottom: -18px;
  right: -82px;
}
.animals-card__arrow-btn-prev {
  position: absolute;
  bottom: -18px;
  left: -82px;
}

.card {
  margin: 0;
  position: relative;
  width: 366px;
  height: 426px;
  transition: all 0.4s ease-in-out;
  border: 1px solid #E47209;
  border-radius: 5px;
}
.card__text {
  box-sizing: border-box;
  height: 60px;
  width: 366px;
  transition: all 0.4s ease-in-out;
  padding-top: 8px;
  padding-left: 16px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}
.card__text--herbivorous::after {
  content: "";
  width: 33px;
  height: 37px;
  position: absolute;
  right: 11px;
  top: 10px;
  background-image: url("../../assets/icons/animals_card/banana-bamboo_icon.svg");
  background-repeat: no-repeat;
}
.card__text--carnivorous::after {
  content: "";
  width: 48px;
  height: 38px;
  position: absolute;
  right: 7px;
  top: 8px;
  background-image: url("../../assets/icons/animals_card/meet-fish_icon.svg");
  background-repeat: no-repeat;
}
.card:hover {
  width: 386px;
  height: 386px;
}
.card:hover .card__text {
  width: 386px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
.card__name {
  text-transform: uppercase;
  font-weight: 700;
}
.card__cap {
  display: block;
  margin-top: -4px;
  font-size: 14px;
}

.arrow-btn-next, .arrow-btn-prev {
  display: block;
  box-sizing: border-box;
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  border: none;
}
.arrow-btn-next__img {
  width: 16px;
  height: 8px;
  position: absolute;
  left: 37.1%;
  right: 37.1%;
  top: 43.55%;
  bottom: 43.55%;
}
.arrow-btn-next:hover, .arrow-btn-prev:hover {
  background: #E47209;
}
.arrow-btn-next:active, .arrow-btn-prev:active {
  background: #4B9200;
}

.arrow-btn-prev__img {
  transform: rotate(-180deg);
  width: 16px;
  height: 8px;
  position: absolute;
  left: 37.1%;
  right: 37.1%;
  top: 43.55%;
  bottom: 43.55%;
}

.section-3 {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding-top: 69px;
  padding-bottom: 100px;
}
.section-3__container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: inherit;
  text-decoration-color: #FE9013;
  text-underline-position: under;
}
.link:active {
  text-decoration-color: #4B9200;
}

.pickNfeed {
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  padding-top: 41px;
  padding-bottom: 59px;
  color: #333B41;
}
.pickNfeed__h-1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 120%;
  font-weight: 400;
  color: #FE9013;
  text-align: center;
}
.pickNfeed__p-1, .pickNfeed__p-2, .pickNfeed__p-3 {
  margin-left: 99px;
}
.pickNfeed__p-1 {
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
}
.pickNfeed__p-2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
}
.pickNfeed__p-3 {
  margin-top: 0;
  margin-bottom: 60px;
  margin-right: 198px;
  line-height: 130%;
}
.pickNfeed__h-2 {
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
}
.pickNfeed__ilustrations {
  margin-bottom: 60px;
  margin-left: 198px;
  margin-right: 198px;
  display: flex;
  justify-content: space-between;
}
.pickNfeed__ilustration-1, .pickNfeed__ilustration-2, .pickNfeed__ilustration-3 {
  width: 168px;
  height: 244px;
}
.pickNfeed__img-1, .pickNfeed__img-2, .pickNfeed__img-3 {
  position: relative;
  width: 168px;
  height: 168px;
  margin-bottom: 30px;
  background: white;
  border: 1px solid #E47209;
  border-radius: 5px;
}
.pickNfeed__img-1 img {
  position: absolute;
  top: 54px;
  left: 30px;
  width: 108px;
  height: 60px;
}
.pickNfeed__img-1:after {
  content: "";
  position: absolute;
  top: calc(50% - 18.5px);
  right: -101px;
  width: 70px;
  height: 37px;
  background-image: url("../../assets/icons/pick&feed/Vector.svg");
}
.pickNfeed__img-2 img {
  position: absolute;
  top: 38px;
  left: 41.23px;
  width: 85.77px;
  height: 95px;
}
.pickNfeed__img-2:after {
  content: "";
  position: absolute;
  top: calc(50% - 18.5px);
  right: -101px;
  width: 70px;
  height: 37px;
  background-image: url("../../assets/icons/pick&feed/Vector.svg");
}
.pickNfeed__img-3 img {
  position: absolute;
  top: 48px;
  left: 22px;
  width: 124.75px;
  height: 71.6px;
}
.pickNfeed__btn {
  margin-left: auto;
  margin-right: auto;
}