@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

img,
picture {
  display: block;
  width: 100%;
  height: auto;
}

.header__h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  width: 100%;
  background: #000;
}
.header__logo--burger {
  display: none;
}
.header__burger-menu {
  display: flex;
  flex-direction: row;
}
.header__container {
  display: flex;
  flex-direction: row;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.header__wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__logo {
  margin-right: 63px;
}
.header__nav {
  width: 470px;
}
.header__copyright {
  align-self: center;
}
.header__copyright-link {
  color: white;
  text-decoration: none;
}
.header__copyright-link:hover {
  color: #E47209;
}
.header__burger-btn-closed {
  display: none;
}

@media (max-width: 1599px) {
  .header__container {
    width: 940px;
  }
  .header__nav {
    width: 431px;
  }
}
@media (max-width: 999px) {
  .header {
    height: 34px;
  }
  .header__container {
    width: 600px;
  }
  .header__burger-menu {
    display: none;
  }
  .header__copyright {
    display: none;
  }
  .header__burger-btn-closed {
    display: block;
    height: 10px;
    padding: 0;
    align-self: center;
    margin-left: auto;
    background: transparent;
    cursor: pointer;
    border: none;
  }
  .header__burger-btn-img {
    display: block;
    position: relative;
    width: 18px;
    height: 2px;
    background: white;
    border: none;
    border-radius: 2px;
  }
  .header__burger-btn-img:before, .header__burger-btn-img:after {
    content: "";
    position: absolute;
    left: 0;
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background: white;
  }
  .header__burger-btn-img:before {
    top: -4px;
  }
  .header__burger-btn-img:after {
    top: 4px;
  }
}
@media (max-width: 639px) {
  .header__container {
    width: 300px;
  }
}
.logo {
  display: block;
  width: 82px;
  height: 52px;
  color: white;
  font-size: 19px;
  line-height: 140%;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 2px;
}
.logo__positioner {
  position: relative;
}
.logo__positioned {
  width: auto;
  position: absolute;
  left: 10px;
  top: -2.5px;
  height: 23px;
}

@media (max-width: 999px) {
  .logo {
    width: auto;
    height: 29.03px;
    font-size: 12.2899px;
    line-height: 140%;
    border: none;
  }
  .logo__positioner {
    line-height: 100%;
  }
  .logo__positioned {
    height: 15px;
    top: -5px;
    left: 2.5px;
  }
}
.nav__list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__link {
  text-decoration: none;
  color: white;
}
.nav__link--active {
  color: #E47209;
}
.nav__link:hover {
  color: #E47209;
}
.nav__copyright {
  display: none;
}

.section-1 {
  height: 780px;
  background-image: url("../../assets/images/sec-1/Giant Panda.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section-1__container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1599px) {
  .section-1 {
    height: 584px;
  }
  .section-1__container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 999px) {
  .section-1 {
    height: 373px;
  }
  .section-1__container {
    width: 600px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 639px) {
  .section-1 {
    height: 221px;
    background-image: url("../../assets/images/sec-1/Giant Panda - mobile.png");
    background-position: 0px 34px;
  }
  .section-1__container {
    width: 300px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.favorite {
  position: relative;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.favorite__big-circle {
  position: absolute;
  top: 92px; /*header height 80px + section offset 12px */
  right: 108px;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.favorite__content {
  margin: 0;
  width: 500.31px;
  height: 400px;
  box-sizing: border-box;
  position: absolute;
  top: 74px;
  left: 73px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.favorite__highlight {
  color: #FFEE2E;
}
.favorite__btn {
  position: absolute;
  top: 534px;
  left: 174px;
}

@media (max-width: 1599px) {
  .favorite__big-circle {
    top: 43px;
    right: 150px;
    width: 367px;
    height: 367px;
  }
  .favorite__content {
    font-size: 85px;
    left: 10px;
    top: 55px;
  }
  .favorite__btn {
    position: absolute;
    top: 415px;
    left: 112px;
  }
}
@media (max-width: 999px) {
  .favorite__big-circle {
    top: 22px;
    right: unset;
    left: 311px;
    width: 237.6px;
    height: 237.6px;
  }
  .favorite__content {
    left: 39px;
    top: 38px;
    width: 255.64px;
    height: 204.38px;
    font-size: 54.2894px;
    line-height: 75%;
  }
  .favorite__btn {
    top: 235px;
    left: -311px;
  }
}
@media (max-width: 639px) {
  .favorite__big-circle {
    top: 35px;
    left: 153px;
    width: 119.09px;
    height: 119.09px;
  }
  .favorite__content {
    width: 124.28px;
    height: 104.45px;
    left: 20px;
    top: 17px;
    font-size: 28px;
  }
  .favorite__btn {
    display: none !important;
  }
}
.round-btn {
  display: block;
  box-sizing: border-box;
  width: 298px;
  height: 54px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.round-btn:hover {
  background: #E47209;
}
.round-btn:active {
  background: #4B9200;
}
.round-btn--disabled {
  pointer-events: none;
  cursor: default;
  background: #767474;
}

.section-2 {
  background-image: url("../../assets/images/sec-2/bg-images/flower_foto1.png"), url("../../assets/images/sec-2/bg-images/strelitzia 1.png"), url("../../assets/images/sec-2/bg-images/palm_foto.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right 12px, right bottom, left bottom;
}
.section-2__container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
  padding-bottom: 100px;
}
.section-2__backstage {
  margin-bottom: 180px;
}
.section-2__img {
  width: 609px;
}
.section-2__cap {
  width: 465px;
}

@media (max-width: 1599px) {
  .section-2 {
    background-image: url("../../assets/images/sec-2/bg-images/strelitzia 1.png"), url("../../assets/images/sec-2/bg-images/palm_foto-2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, left bottom;
    background-size: 24%, 19%;
  }
  .section-2__container {
    width: 940px;
    padding-top: 90px;
    padding-bottom: 140px;
  }
  .section-2__backstage {
    margin-bottom: 150px;
  }
}
@media (max-width: 999px) {
  .section-2 {
    background-image: url("../../assets/images/sec-2/bg-images/flower_foto1.png"), url("../../assets/images/sec-2/bg-images/strelitzia 1.png"), url("../../assets/images/sec-2/bg-images/palm_foto.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right 12px, right bottom, left bottom;
    background-size: 16%, 17.8%, 13%;
  }
  .section-2__container {
    width: 600px;
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .section-2__backstage {
    margin-bottom: 78px;
  }
}
@media (max-width: 639px) {
  .section-2 {
    background-image: url("../../assets/images/sec-2/bg-images/flower_foto2.png"), url("../../assets/images/sec-2/bg-images/strelitzia 1.png"), url("../../assets/images/sec-2/bg-images/palm_foto-3.png");
    background-size: 11%, 30%, 18%;
    background-position: right 38px, calc(100% + 23px) calc(100% + 4px), left bottom;
  }
  .section-2__container {
    width: 300px;
    padding-top: 20px;
    padding-bottom: 60px;
  }
}
.backstage {
  height: 403px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: #333B41;
}
.backstage__btn {
  display: none;
}
.backstage__img {
  display: block;
  width: 609px;
}
.backstage__cap {
  width: 465px;
  height: 100%;
}
.backstage__h-1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 120%;
}
.backstage__p-1 {
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 54px;
}
.backstage__h-2 {
  margin-top: 0;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 120%;
}
.backstage__p-2 {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1599px) {
  .backstage {
    height: 427px;
  }
  .backstage__img {
    padding-top: 6.4px;
    width: 455px;
  }
  .backstage__cap {
    padding-top: 10px;
    width: 459px;
  }
  .backstage__p-2 {
    width: 454px;
  }
}
@media (max-width: 999px) {
  .backstage {
    height: 370px;
  }
  .backstage__img {
    display: none;
  }
  .backstage__cap {
    padding-top: 0;
    width: 495px;
    height: auto;
  }
  .backstage__p-1 {
    margin-bottom: 34px;
  }
  .backstage__h-2 {
    margin-bottom: 18px;
  }
  .backstage__p-2 {
    width: auto;
  }
}
@media (max-width: 639px) {
  .backstage {
    height: auto;
    margin-bottom: 38px;
    justify-content: start;
    flex-wrap: wrap;
  }
  .backstage__btn {
    display: block;
    width: 100%;
  }
  .backstage__cap {
    margin-top: 30px;
  }
  .backstage__h-1 {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 10px;
  }
  .backstage__p-1 {
    margin-bottom: 20px;
  }
  .backstage__h-2 {
    margin-bottom: 10px;
  }
}
.animals-card__line-1, .animals-card__line-2 {
  display: flex;
  justify-content: space-between;
}
.animals-card__line-1 {
  padding-bottom: 20px;
  position: relative;
}
.animals-card__line-2 {
  margin-bottom: 75px;
}
.animals-card__btn {
  margin-left: auto;
  margin-right: auto;
}
.animals-card__arrow-btn-next {
  position: absolute;
  bottom: -18px;
  right: -82px;
}
.animals-card__arrow-btn-prev {
  position: absolute;
  bottom: -18px;
  left: -82px;
}

@media (max-width: 1599px) {
  .animals-card__line-1 {
    padding-bottom: 92px;
  }
  .animals-card__arrow-btn-next {
    bottom: 16px;
    right: calc(50% - 147px);
  }
  .animals-card__arrow-btn-prev {
    bottom: 16px;
    left: calc(50% - 147px);
  }
  .animals-card__line-2 {
    margin-bottom: 78px;
  }
}
@media (max-width: 999px) {
  .animals-card__arrow-btn-next {
    bottom: 19px;
    right: calc(50% - 77px);
  }
  .animals-card__arrow-btn-prev {
    bottom: 19px;
    left: calc(50% - 77px);
  }
  .animals-card__line-2 {
    margin-bottom: 60px;
  }
  .temp-hidden {
    display: none;
  }
}
@media (max-width: 639px) {
  .animals-card__line-2, .animals-card__line-1 {
    justify-content: start;
    flex-wrap: wrap;
  }
  .animals-card__line-1 {
    padding-bottom: 0;
  }
  .animals-card__line-2 {
    margin-bottom: 0;
  }
  .animals-card__arrow-btn-next, .animals-card__arrow-btn-prev {
    display: none !important;
  }
}
.card {
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 366px;
  height: 426px;
  transition: all 0.4s ease-in-out;
  border: 1px solid #E47209;
  border-radius: 5px;
}
.card__text {
  box-sizing: border-box;
  height: 60px;
  width: 366px;
  transition: all 0.4s ease-in-out;
  padding-top: 8px;
  padding-left: 16px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}
.card__text--herbivorous::after {
  content: "";
  width: 33px;
  height: 37px;
  position: absolute;
  right: 11px;
  top: 10px;
  background-image: url("../../assets/icons/animals_card/banana-bamboo_icon.svg");
  background-repeat: no-repeat;
}
.card__text--carnivorous::after {
  content: "";
  width: 48px;
  height: 38px;
  position: absolute;
  right: 7px;
  top: 8px;
  background-image: url("../../assets/icons/animals_card/meet-fish_icon.svg");
  background-repeat: no-repeat;
}
.card:hover {
  width: 386px;
  height: 386px;
}
.card:hover .card__text {
  width: 386px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
.card__name {
  text-transform: uppercase;
  font-weight: 700;
}
.card__cap {
  display: block;
  margin-top: -4px;
  font-size: 14px;
}

@media (max-width: 1599px) {
  .card {
    width: 294px;
    height: 354px;
  }
  .card__text {
    height: 60px;
    width: 294px;
  }
  .card:hover {
    width: 314px;
    height: 314px;
  }
  .card:hover .card__text {
    width: 314px;
  }
}
@media (max-width: 999px) {
  .card {
    width: 284px;
    height: 330px;
  }
  .card__text {
    height: 46.76px;
    width: 284px;
    font-size: 12.4695px;
    padding-top: 5px;
    padding-left: 12px;
  }
  .card__text--herbivorous::after {
    top: 7px;
  }
  .card__text--carnivorous::after {
    top: 5px;
  }
  .card__cap {
    font-size: 11.6901px;
    line-height: 120%;
  }
  .card:hover {
    width: 294px;
    height: 294px;
  }
  .card:hover .card__text {
    width: 294px;
  }
}
@media (max-width: 639px) {
  .card {
    margin-bottom: 20px;
  }
  .card:hover {
    margin-bottom: 56px;
  }
}
.arrow-btn-next, .arrow-btn-prev {
  display: block;
  box-sizing: border-box;
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  border: none;
}
.arrow-btn-next__img {
  width: 16px;
  height: 8px;
  position: absolute;
  left: 37.1%;
  right: 37.1%;
  top: 43.55%;
  bottom: 43.55%;
}
.arrow-btn-next:hover, .arrow-btn-prev:hover {
  background: #E47209;
}
.arrow-btn-next:active, .arrow-btn-prev:active {
  background: #4B9200;
}

.arrow-btn-prev__img {
  transform: rotate(-180deg);
  width: 16px;
  height: 8px;
  position: absolute;
  left: 37.1%;
  right: 37.1%;
  top: 43.55%;
  bottom: 43.55%;
}

.section-3 {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding-top: 69px;
  padding-bottom: 100px;
}
.section-3__container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1599px) {
  .section-3 {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .section-3__container {
    width: 940px;
  }
}
@media (max-width: 999px) {
  .section-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section-3__container {
    width: 640px;
  }
}
@media (max-width: 639px) {
  .section-3__container {
    width: 300px;
  }
}
.link {
  color: inherit;
  text-decoration-color: #FE9013;
  text-underline-position: under;
}
.link:active {
  text-decoration-color: #4B9200;
}

.pickNfeed {
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  padding-top: 41px;
  padding-bottom: 59px;
  color: #333B41;
}
.pickNfeed__h-1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 120%;
  font-weight: 400;
  color: #FE9013;
  text-align: center;
}
.pickNfeed__p-1, .pickNfeed__p-2, .pickNfeed__p-3 {
  margin-left: 99px;
}
.pickNfeed__p-1 {
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
}
.pickNfeed__p-2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
}
.pickNfeed__p-3 {
  margin-top: 0;
  margin-bottom: 60px;
  margin-right: 198px;
  line-height: 130%;
}
.pickNfeed__h-2 {
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
}
.pickNfeed__ilustrations {
  margin-bottom: 60px;
  margin-left: 198px;
  margin-right: 198px;
  display: flex;
  justify-content: space-between;
}
.pickNfeed__ilustration-1, .pickNfeed__ilustration-2, .pickNfeed__ilustration-3 {
  width: 168px;
  height: 244px;
}
.pickNfeed__img-1, .pickNfeed__img-2, .pickNfeed__img-3 {
  position: relative;
  width: 168px;
  height: 168px;
  margin-bottom: 30px;
  background: white;
  border: 1px solid #E47209;
  border-radius: 5px;
}
.pickNfeed__img-1 img {
  position: absolute;
  top: 54px;
  left: 30px;
  width: 108px;
  height: 60px;
}
.pickNfeed__img-1:after {
  content: "";
  position: absolute;
  top: calc(50% - 18.5px);
  right: -101px;
  width: 70px;
  height: 37px;
  background-image: url("../../assets/icons/pick&feed/Vector.svg");
  background-repeat: no-repeat;
}
.pickNfeed__img-2 img {
  position: absolute;
  top: 38px;
  left: 41.23px;
  width: 85.77px;
  height: 95px;
}
.pickNfeed__img-2:after {
  content: "";
  position: absolute;
  top: calc(50% - 18.5px);
  right: -101px;
  width: 70px;
  height: 37px;
  background-image: url("../../assets/icons/pick&feed/Vector.svg");
  background-repeat: no-repeat;
}
.pickNfeed__img-3 img {
  position: absolute;
  top: 48px;
  left: 22px;
  width: 124.75px;
  height: 71.6px;
}
.pickNfeed__btn {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1599px) {
  .pickNfeed {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .pickNfeed__h-1 {
    margin-bottom: 20px;
  }
  .pickNfeed__p-1 {
    margin-bottom: 22px;
  }
  .pickNfeed__p-3 {
    margin-bottom: 40px;
  }
  .pickNfeed__p-2, .pickNfeed__p-3 {
    margin-right: 78px;
  }
  .pickNfeed__p-1, .pickNfeed__p-2, .pickNfeed__p-3 {
    margin-left: 49px;
  }
  .pickNfeed__ilustrations {
    margin-left: 88px;
    margin-right: 88px;
    margin-bottom: 70px;
  }
  .pickNfeed__img-1:after, .pickNfeed__img-2:after {
    top: calc(50% - 23px);
  }
}
@media (max-width: 999px) {
  .pickNfeed {
    padding-top: 10px;
    padding-bottom: 60px;
  }
  .pickNfeed__h-1 {
    font-size: 42px;
  }
  .pickNfeed__p-1 {
    font-size: 22px;
    line-height: 120%;
  }
  .pickNfeed__p-3 {
    margin-bottom: 30px;
  }
  .pickNfeed__h-2 {
    margin-bottom: 15px;
  }
  .pickNfeed__p-1, .pickNfeed__p-2, .pickNfeed__p-3 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .pickNfeed__ilustrations {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 42px;
  }
  .pickNfeed__ilustration-3 {
    margin-right: 12px;
  }
  .pickNfeed__img-1:after, .pickNfeed__img-2:after {
    top: -17px;
    right: -67px;
    width: 100px;
    height: 40px;
    background-image: url("../../assets/icons/pick&feed/arrow.svg");
    z-index: 10;
  }
}
@media (max-width: 639px) {
  .pickNfeed {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .pickNfeed__p-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
  .pickNfeed__h-1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .pickNfeed__p-1 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  .pickNfeed__p-2, .pickNfeed__p-3 {
    display: none;
  }
  .pickNfeed__h-2 {
    font-size: 24px;
    margin-bottom: 19px;
  }
  .pickNfeed__ilustrations {
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .pickNfeed__img-1, .pickNfeed__img-2, .pickNfeed__img-3 {
    width: 166px;
    height: 166px;
    margin-bottom: 10px;
  }
  .pickNfeed__ilustration-1 {
    height: 242px;
  }
  .pickNfeed__ilustration-2 {
    height: 250px;
  }
  .pickNfeed__ilustration-3 {
    height: 232px;
    margin-right: 0;
  }
  .pickNfeed__img-1:after, .pickNfeed__img-2:after {
    top: 192px;
    right: -63px;
    transform: rotate(88deg);
  }
}
.section-4 {
  background-image: url("../../assets/images/sec-4/bg-images/leav_foto.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-top: 140px;
  padding-bottom: 180px;
  color: #333B41;
}
.section-4__container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1599px) {
  .section-4 {
    background-image: url("../../assets/images/sec-4/bg-images/leav_foto-2.png");
    padding-top: 100px;
    padding-bottom: 140px;
  }
  .section-4__container {
    width: 940px;
  }
}
@media (max-width: 999px) {
  .section-4 {
    padding-top: 60px;
    padding-bottom: 80px;
    background-position: calc(100% + 6px) bottom;
    background-size: 11%;
  }
  .section-4__container {
    width: 600px;
  }
}
@media (max-width: 639px) {
  .section-4 {
    padding-top: 30px;
    padding-bottom: 60px;
    background-position: right calc(100% + 5px);
    background-size: 18%;
  }
  .section-4__container {
    width: 300px;
  }
}
.testimonials__h {
  margin-top: 0;
  margin-bottom: 47px;
  text-align: center;
  font-size: 36px;
  line-height: 130%;
}
.testimonials__comments {
  margin-bottom: 21px;
}
.testimonials__scrollbar {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.5px solid rgba(254, 189, 171, 0.7411764706);
  background-color: #F1F3F2;
  border-radius: 5px;
  width: 600px;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
.testimonials__scrollbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 6px;
  width: 115.19px;
  border-radius: 5px;
  background: #FE9013;
}
.testimonials__scrollbar::-moz-range-thumb {
  border: none;
  height: 6px;
  width: 115.19px;
  border-radius: 5px;
  background: #FE9013;
}

@media (max-width: 1599px) {
  .testimonials__h {
    margin-bottom: 30px;
  }
  .testimonials__scrollbar {
    width: 400px;
    margin-bottom: 50px;
  }
  .testimonials__scrollbar::-webkit-slider-thumb {
    width: 75px;
  }
  .testimonials__scrollbar::-moz-range-thumb {
    width: 75px;
  }
}
@media (max-width: 999px) {
  .testimonials__scrollbar {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
  .testimonials__comments {
    margin-bottom: 24px;
  }
  .testimonials__btn {
    margin-left: auto;
    margin-right: auto;
    width: 240px !important;
  }
}
@media (max-width: 639px) {
  .testimonials__h {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 18px;
  }
  .testimonials__comments {
    margin-bottom: 15px;
  }
}
.comments {
  display: flex;
  justify-content: space-between;
}
.comments__comment {
  background: #F1F3F2;
  width: 268px;
  height: 391px;
  box-sizing: border-box;
  border: 2px solid rgba(254, 189, 171, 0.7411764706);
  border-radius: 20px;
}
.comments__container {
  margin-top: 14px;
  margin-bottom: 17px;
  margin-left: 14px;
  margin-right: 13px;
}
.comments__content {
  height: 309px;
  overflow-y: hidden;
}
.comments__user-info {
  display: flex;
  margin-bottom: 10px;
}
.comments__userpic {
  width: 37px;
  height: 37px;
  margin-right: 10px;
}
.comments__user-name {
  font-size: 16px;
  line-height: 120%;
  color: black;
}
.comments__post-info {
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}
.comments__content {
  color: #767474;
}

@media (max-width: 1599px) {
  .comments__comment {
    width: 293px;
    font-size: 15px;
    line-height: 120%;
  }
  .comments__comment--first {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
}
@media (max-width: 999px) {
  .comments {
    flex-wrap: wrap;
  }
  .comments__comment {
    width: 100%;
    height: 109px;
    margin-bottom: 15px;
  }
  .comments__content {
    height: 35px;
    overflow-y: hidden;
  }
}
@media (max-width: 639px) {
  .comments__container {
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 9px;
  }
  .comments__userpic {
    margin-right: 5px;
  }
}
.sqr-btn {
  display: block;
  box-sizing: border-box;
  width: 298px;
  height: 54px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.sqr-btn:hover {
  background: #E47209;
}
.sqr-btn:active {
  background: #4B9200;
}
.sqr-btn--disabled {
  pointer-events: none;
  cursor: default;
  background: #767474;
}

.footer {
  background-color: #111115;
  padding-top: 40px;
  padding-bottom: 50px;
  color: white;
}
.footer__container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 399px 394px 1fr;
  grid-template-rows: 120px 98px 1fr;
}
.footer__btn {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.footer__nav {
  margin-top: auto;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.footer__nav-list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.footer__nav-elem {
  margin-right: 58px;
  white-space: nowrap;
}
.footer__nav-link {
  text-decoration: none;
  color: white;
}
.footer__nav-link--active {
  color: #E47209;
}
.footer__nav-link:hover {
  color: #E47209;
}
.footer__socials {
  width: 112px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.footer__socials-item {
  display: block;
  position: relative;
  height: 26px;
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
  line-height: 140%;
}
.footer__socials-item svg {
  margin-right: 12px;
}
.footer__socials-item span {
  position: absolute;
  top: 4px;
  vertical-align: text-top;
}
.footer__socials-item:hover {
  color: #4B9200;
}
.footer__socials-item:hover svg circle {
  fill: #4B9200;
}
.footer__link {
  color: #767474;
  text-decoration: unset;
  white-space: nowrap;
  margin-bottom: 8px;
  display: block;
  margin-top: auto;
  margin-left: auto;
  width: 228px;
  height: 52px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.footer__link-line1 {
  padding-bottom: 3px;
}
.footer__link:hover {
  color: #4B9200;
  text-decoration: underline;
  text-underline-position: under;
}
.footer__subscription {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 367px;
  height: 85px;
}
.footer__subscription-text {
  display: inline-block;
  margin-bottom: 13px;
  font-size: 24px;
  line-height: 120%;
}
.footer__subscription-email {
  display: block;
  box-sizing: border-box;
  width: 228px;
  height: 42px;
  padding-left: 10px;
  color: #BDBDBD;
  background-color: inherit;
  border: 0.7px solid #E47209;
  border-radius: 2px;
}
.footer__subscription-email:focus {
  border-color: #4B9200;
  outline: none;
}
.footer__subscription-email::-moz-placeholder {
  vertical-align: middle;
  font-size: 16px;
  color: #BDBDBD;
}
.footer__subscription-email::placeholder {
  vertical-align: middle;
  font-size: 16px;
  color: #BDBDBD;
}
.footer__subscription-submit {
  display: block;
  height: 42px;
  width: 129px;
  background-color: #F1F3F2;
  color: black;
  font-size: 16px;
  line-height: 140%;
  border: 1px solid #333B41;
  border-radius: 5px;
}
.footer__subscription-submit:hover {
  border-color: #4B9200 !important;
  color: #4B9200 !important;
  cursor: pointer;
}
.footer__subscription-email:invalid ~ .footer__subscription-submit {
  border-color: #D31414;
  color: #D31414;
}

@media (max-width: 1599px) {
  .footer__container {
    width: 940px;
    grid-template-columns: 303px 252px 1fr;
    grid-template-rows: 120px 98px 1fr;
  }
  .footer__socials, .footer__btn, .footer__logo {
    margin-left: 14px;
  }
  .footer__nav-elem {
    margin-right: 48px;
  }
}
@media (max-width: 999px) {
  .footer {
    padding-top: 12px;
  }
  .footer__container {
    width: 600px;
    grid-template-columns: 300px 73px 1fr;
    grid-template-rows: 85px 121px 1fr;
  }
  .footer__link-line1 {
    line-height: 165%;
  }
  .footer__socials, .footer__btn, .footer__logo {
    margin-left: 0;
  }
  .footer__subscription {
    display: none;
  }
  .footer__socials {
    width: 26px;
    height: 170px;
    margin-left: auto;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .footer__socials span {
    display: none;
  }
  .footer__socials-item {
    margin-bottom: 20px;
  }
  .footer__socials-item svg {
    margin: 0;
  }
  .footer__nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .footer__nav-elem {
    margin-right: 37px;
  }
}
@media (max-width: 639px) {
  .footer__container {
    width: 300px;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 36px 84px 100px 1fr;
  }
  .footer__logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .footer__socials {
    width: 194px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .footer__socials-item {
    margin-bottom: 0;
  }
  .footer__btn {
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .footer__link {
    width: 214px;
    height: 54px;
    margin-bottom: 28px;
    font-size: 15px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .footer__link-line1 {
    padding-bottom: 8px;
  }
  .footer__nav {
    width: 278px;
    margin-left: auto;
    margin-right: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .footer__nav-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .footer__nav-elem {
    margin-right: 0;
  }
}
.logo2 {
  display: block;
  width: 82px;
  height: 52px;
  color: white;
  font-size: 19px;
  line-height: 140%;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 2px;
}
.logo2__positioner {
  position: relative;
}
.logo2__positioned {
  width: auto;
  position: absolute;
  left: 10px;
  top: -2.5px;
  height: 23px;
}

@media (max-width: 639px) {
  .logo2 {
    width: auto;
    height: auto;
    margin-top: 5px;
    border: none;
  }
  .logo2__petstory, .logo2__positioner {
    display: inline;
  }
  .logo2__positioned {
    top: -3px;
    left: -4px;
  }
}