.animals-card {
	&__line-1,
	&__line-2 {
		display: flex;
		justify-content: space-between;
	}
	&__line-1 {
		padding-bottom: 20px;
		position: relative;
	}

	&__line-2 {
		margin-bottom: 75px;
	}

	&__btn {
		margin-left: auto;
		margin-right: auto;
	}

	&__arrow-btn-next {
		position: absolute;
		bottom: -18px; //line-1 padding - 2px
		right: -20px + -62px; //position + btn offset
	}

	&__arrow-btn-prev {
		position: absolute;
		bottom: -18px; //line-1 padding
		left: -20px + -62px; //position + btn offset
	}
}

@media (max-width: $desk) {
	.animals-card {

		&__line-1 {
			padding-bottom: 92px;
		}

		&__arrow-btn-next {
			bottom: 16px;
			right: calc(50% - 147px);
		}

		&__arrow-btn-prev {
			bottom: 16px;
			left: calc(50% - 147px);			
		}

		&__line-2 {
			margin-bottom: 78px;
		}
	}
}

@media (max-width: $small-desk) {

	.animals-card {
		&__arrow-btn-next {
			bottom: 19px;
    		right: calc(50% - 77px);
		}

		&__arrow-btn-prev {
			bottom: 19px;
			left: calc(50% - 77px);			
		}
		&__line-2 {
			margin-bottom: 60px;
		}
	}

	.temp-hidden { // TEMP HIDDEN
	  display: none;	
	}
}