.animals-card {
	position: relative;

	&__container {
		overflow-y: hidden;

		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__line-1,
	&__line-2 {
		width: calc(1160px * 3 + 31px * 2);
		display: flex;
		justify-content: space-between;
		transition: margin-left 1s ease-out;

		&-sec-1,
		&-sec-2,
		&-sec-3 {
			width: 1160px;
			display: flex;
			justify-content: space-between;			
		}
		&-sec-2 {
			margin-right: 31px;
			margin-left: 31px;
		}
	}
	&__line-1 {
		padding-bottom: 20px;
		margin-left: 0px;
	}

	&__line-2 {
		margin-bottom: 80px;
	}

	&__btn {
		margin-left: auto;
		margin-right: auto;
	}

	&__arrow-btn-next {
		position: absolute;
		top: 400px; 
		right: -20px + -62px; //position + btn offset
	}

	&__arrow-btn-prev {
		position: absolute;
		top: 400px; 
		left: -20px + -62px; //position + btn offset
	}
}

@media (max-width: $desk) {
	.animals-card {
		&__line-1,
		&__line-2 {
			width: calc(940px * 3 + 31px * 2);

			&-sec-1,
			&-sec-2,
			&-sec-3 {
				width: 940px;		
			}
		}

		&__line-1 {
			padding-bottom: 92px;
		}

		&__arrow-btn-next {
			right: calc(50% - 147px);
			top: 370px;
		}

		&__arrow-btn-prev {
			left: calc(50% - 147px);
			top: 370px;		
		}

		&__line-2 {
			margin-bottom: 78px;
		}
	}
}

@media (max-width: $small-desk) {

	.animals-card {
		&__line-1,
		&__line-2 {
			width: calc(600px * 3 + 31px * 2);

			&-sec-1,
			&-sec-2,
			&-sec-3 {
				width: 600px;		
			}
		}
		&__arrow-btn-next {
    		right: calc(50% - 77px);
			top: 345px;
		}

		&__arrow-btn-prev {
			left: calc(50% - 77px);
			top: 345px;
		}
		&__line-1 {
			padding-bottom: 95px;
		}

		&__line-2 {
			margin-bottom: 60px;
		}
	}

	.temp-hidden { // TEMP HIDDEN
	  display: none;	
	}
}

@media (max-width: $tablet) {
	.animals-card {
		&__line-1,
		&__line-2 {
			width: 300px;
			&-sec-2,
			&-sec-3 {
				display: none;
			}
			&-sec-1 {
				justify-content: start;
				flex-wrap: wrap;				
			}
		}



		&__line-2,
		&__line-1 {
			justify-content: start;
			flex-wrap: wrap;
		}
		
		&__line-1 {
			padding-bottom: 0;
			margin-bottom: 5px;
		}

		&__line-2 {
			margin-bottom: 2px;
		}

		&__arrow-btn-next,
		&__arrow-btn-prev {
			display: none !important;
		}
	}
}