.backstage {
	height: 403px;
	box-sizing: border-box;
	

	display: flex;
	justify-content: space-between;

	color: $black-blue;

	&__img {
		display: block;
		width: 609px;
	}

	&__cap {
		width: 465px;
		height: 100%;
	}

	&__h-1 {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 48px;
		line-height: 120%;
	}

	&__p-1 {
		line-height: 130%;
		margin-top: 0;
		margin-bottom: 54px;
	}

	&__h-2 {
		margin-top: 0;
		margin-bottom: 34px;

		font-size: 24px;
		line-height: 120%;
	}

	&__p-2 {
		margin-top: 0;
		margin-bottom: 0;
	}
}

@media (max-width: $desk) {
	.backstage {
		height: 427px;
		
		&__img {
			padding-top: 6.4px;
			width: 455px;
		}

		&__cap {
			padding-top: 10px;
			width: 459px;
		}

		&__p-2 {
			width: 454px;
		}
	}
}