.blurred-background {
	&--on {
		position: fixed;
		z-index: 6;
		width: 100%;
		height: 100vh;
		background: gray;
		opacity: 0.33;
	}
}
.blurred-background-popup {
	&--on {
		position: fixed;
		z-index: 4;
		width: 100%;
		height: 100vh;
		background: gray;
		opacity: 0.33;
	}
}
