
.comments {
	display: flex;
	justify-content: space-between;

	&__comment {
		background: $light-gray;
		width: 268px;
		height: 391px;
		box-sizing: border-box;

		border: 2px solid $pink;
		border-radius: 20px;
	}

	&__container {
		margin-top: 14px;
		margin-bottom: 17px;
		margin-left: 14px;
		margin-right: 13px;
	}

	&__content {
		height: 309px;
		overflow-y: hidden;
	}

	&__user-info {
		display: flex;
		margin-bottom: 10px;
	}

	&__userpic {
		width: 37px;
		height: 37px;
		margin-right: 10px;
	}

	&__user-name {
		font-size: 16px;
		line-height: 120%;
		color: black;
	}

	&__post-info {
		font-size: 15px;
		line-height: 120%;
		color: $gray-2;
	}

	&__content {
		color: $gray;
	}
}

@media (max-width: $desk) {

	.comments {
		&__comment {
			width: 293px;

			font-size: 15px;
			line-height: 120%;

			&--first { // TEMP: visually hidden
			  position: absolute;
			  left: 0;
			  width: 1px;
			  height: 1px;
			  margin: -1px;
			  padding: 0;
			  overflow: hidden;
			  border: 0;
			  clip: rect(0 0 0 0);
			}			
		}
	}
}

@media (max-width: $small-desk) {
	.comments {
		flex-wrap: wrap;
		&__comment {
			width: 100%;
			height: 109px;
			margin-bottom: 15px;
		}

		&__content {
			height: 35px;
			overflow-y: hidden;
		}
	}
}

@media (max-width: $tablet) {
	.comments {
		&__container {
			margin-left: 11px;
			margin-right: 11px;
			margin-top: 9px;
		}

		&__userpic {
			margin-right: 5px;
		}
	}
}