.donate-section-1 {
	padding-top: 80px;
	height: 387px;
	background-image: url("../../assets/images/donate/panda_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: $small-desk) {
	.donate-section-1 {
		height: 289px;
		background-image: url("../../assets/images/donate/panda_bg-2.png");
	}
}

@media (max-width: $tablet) {
	.donate-section-1 {
		height: 141px;
	}
}