.favorite {
	position: relative;

	width: 1160px;
	height: auto; 

	margin-left: auto;
	margin-right: auto;

	&__big-circle {
		position: absolute;
		top: 92px; /*header height 80px + section offset 12px */
		right: 108px;
		width: 465px;
		height: 465px;
		border-radius: 50%;

		background: $orange;
	}

	&__content {
		margin: 0;
		width: 500.31px;
		height: 400px;
		box-sizing: border-box;

		position: absolute;
		top: 74px;
		left: 73px;

		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 106.496px;
		line-height: 75%;
		color: white;
		text-align: center;
		text-transform: uppercase;
	}

	&__highlight {
		color: $yellow;
	}

	&__btn {
		position: absolute;
		top: 534px;
		left: 174px;
	}
}

@media (max-width: $desk) {
	.favorite {
		&__big-circle {
			top: 68px;
			right: 340px;

			width: 367px;
			height: 367px;
		}

		&__content {
			font-size: 85px;
			left: 10px;
			top: 55px;
		}

		&__btn {
			position: absolute;
			top: 415px;
			left: 112px;
		}
	}
}