.favorite {
	position: relative;

	width: 100%;
	height: auto; 

	margin-left: auto;
	margin-right: auto;

	&__big-circle {
		position: absolute;
		top: 92px; /*header height 80px + section offset 12px */
		right: 108px;
		width: 465px;
		height: 465px;
		border-radius: 50%;

		background: $orange;
	}

	&__content {
		margin: 0;
		width: 500.31px;
		height: 400px;
		box-sizing: border-box;

		position: absolute;
		top: 74px;
		left: 73px;

		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 106.496px;
		line-height: 75%;
		color: white;
		text-align: center;
		text-transform: uppercase;
	}

	&__highlight {
		color: $yellow;
	}

	&__btn {
		position: absolute;
		top: 534px;
		left: 174px;
	}
}

@media (max-width: $desk) {
	.favorite {
		&__big-circle {
			top: 43px;
			right: 150px;

			width: 367px;
			height: 367px;
		}

		&__content {
			font-size: 85px;
			left: 10px;
			top: 55px;
		}

		&__btn {
			position: absolute;
			top: 415px;
			left: 112px;
		}
	}
}

@media (max-width: $small-desk) {
	.favorite {
		&__big-circle {
			top: 22px;
			right: unset;
			left: 311px;
			width: 237.6px;
			height: 237.6px;
		}

		&__content {
			left: 39px;
			top: 38px;

			width: 255.64px;
			height: 204.38px;

			font-size: 54.2894px;
			line-height: 75%;
		}

		&__btn {
			top: 235px;
			left: -311px;
		}
	}
}

@media (max-width: $tablet) {
	.favorite {
		&__big-circle {
			top: 35px;
			left: 153px;
			width: 119.09px;
			height: 119.09px;
		}

		&__content {
			width: 124.28px;
			height: 104.45px;
			left: 20px;
			top: 17px;
			font-size: 28px;
		}

		&__btn {
			display: none !important;
		}
	}
}