.header {
	position: absolute;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 80px;
	width: 100%;

	background: $bg-color-0;

	&__h1 {
		@extend %visually-hidden;
	}

	&__logo--burger {
		display: none;
	}

	&__burger-menu {
		display: flex;
		flex-direction: row;
	}

	&__container {
		display: flex;
		flex-direction: row;

		width: 1160px;
		margin-left: auto;
		margin-right: auto;
	}
	&__wrapper {
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__logo {
		margin-right: 63px;
	}

	&__nav {
		width: 470px;
	}

	&__copyright {
		align-self: center;
		&-link {
			color: white;
			text-decoration: none;
			&:hover {
				color: $orange-2;
			}
		}
	}

	&__burger-btn-closed {
		display: none;
	}
}

@media (max-width: $desk) {

	.header {
		&__container {
			width: 940px;
		}

		&__nav {
			width: 431px;
		}
	}
}

@media (max-width: $small-desk) {
	.header {
		height: 34px;
		&__container {
			width: 600px;
		}

		&__burger-menu {
			display: none;
		}

		&__copyright {
			display: none;
		}

		&__burger-btn-closed {
			display: block;
			height: 10px;
			padding: 0;
			align-self: center;
			margin-left: auto;
			background: transparent;
			cursor: pointer;
			border: none;
		}

		&__burger-btn-img {
			display: block;
			position: relative;
			
			
			
			width: 18px;
			height: 2px;

			

			background: white;
			border: none;
			border-radius: 2px;


			&:before,
			&:after {
				content: "";

				position: absolute;
				left: 0;

				width: 18px;
				height: 2px;
				border-radius: 2px;
				background: white;
			}

			&:before {
				top: -4px;
			}

			&:after {
				top: 4px;

			}
		}
	}
}

@media (max-width: $tablet) {
	.header {

		&__container {
			width: 300px;
		}		
	}
}
