.logo {
	display: block;
	width: 82px;
	height: 52px;

	color: white;
	font-size: 19px;
	line-height: 140%;
	text-align: center;
	text-decoration: none;

	border: 1px solid white;
	border-radius: 2px;

	&__positioner {
		position: relative;
	}
	&__positioned {
		width: auto;
		position: absolute;
		left: 10px;
		top: -2.5px;
		height: 23px;
	}
}
@media (max-width: $small-desk) {
	.logo {
		width: auto;
		height: 29.03px;

		font-size: 12.2899px;
		line-height: 140%;
		border: none;

		&__positioner {
			line-height: 100%;
		}
		&__positioned {
			height: 15px;
			top: -5px;
			left: 2.5px;
		}
	}

	.header--opened {
		.logo {
			margin-top: 10px;
			width: 82px;
			height: 52px;

			color: white;
			font-size: 19px;
			line-height: 140%;

			border: 1px solid white;
			filter: invert(60%) sepia(86%) saturate(1600%) hue-rotate(10deg) brightness(100%) contrast(101%);

			&__positioner {
				line-height: inherit;;
			}
			&__positioned {
				left: 10px;
				top: -2.5px;
				height: 23px;
			}
		}
	}
}