.logo2 {
	display: block;
	width: 82px;
	height: 52px;

	color: white;
	font-size: 19px;
	line-height: 140%;
	text-align: center;
	text-decoration: none;

	border: 1px solid white;
	border-radius: 2px;

	&__positioner {
		position: relative;
	}
	&__positioned {
		width: auto;
		position: absolute;
		left: 10px;
		top: -2.5px;
		height: 23px;
	}
}

@media (max-width: $tablet) {
	.logo2 {
		width: auto;
		height: auto;
		margin-top: 5px;
		border: none;

		&__petstory,
		&__positioner {
			display: inline;
		}

		&__positioned {
			top: -3px;
			left: -4px;
		}
	}
}