.nav {
	&__list {
		padding-left: 0;
		list-style: none;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__link {
		text-decoration: none;
		color: white;
		
		&--active {
			color: $orange-2;
		}
		&:hover {
			color: $orange-2;
		}
	}

	&__copyright {
		display: none;
	}
}

@media (max-width: $small-desk) {
	.header--opened {
		.nav__list {
			margin-top: 30px;
			margin-bottom: 25px;
			flex-direction: column;
		}

		.nav__elem {
			margin-bottom: 15px;
		}

		.nav__link {
			color: $black-blue;
		}
	}
}

