.section-2 {
	background-image: url("../../assets/images/sec-2/bg-images/flower_foto1.png"), url("../../assets/images/sec-2/bg-images/strelitzia 1.png"), url("../../assets/images/sec-2/bg-images/palm_foto.png");
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: right 12px, right bottom, left bottom;

	&__container {
		width: 1160px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 140px;
		padding-bottom: 100px;
	}

	&__backstage {
		margin-bottom: 180px;
	}

	&__img {
		width: 609px;
	}

	&__cap {
		width: 465px;
	}
}

@media (max-width: $desk) {
	.section-2 {
		background-image: url("../../assets/images/sec-2/bg-images/strelitzia 1.png"), url("../../assets/images/sec-2/bg-images/palm_foto-2.png");
		background-repeat: no-repeat, no-repeat;
		background-position: right bottom, left bottom;
		background-size: 24%, 19%;

		&__container {
			width: 940px;
			padding-top: 90px;
			padding-bottom: 140px;
		}
		&__backstage {
			margin-bottom: 150px;
		}
	}
}

@media (max-width: $small-desk) {
	.section-2 {

		background-image: url("../../assets/images/sec-2/bg-images/flower_foto1.png"), url("../../assets/images/sec-2/bg-images/strelitzia 1.png"), url("../../assets/images/sec-2/bg-images/palm_foto.png");
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-position: right 12px, right bottom, left bottom;
		background-size: 16%, 17.8%, 13%;

		&__container {
			width: 600px;
			padding-top: 60px;
			padding-bottom: 100px;
		}

		&__backstage {
			margin-bottom: 78px;
		}
	}
}