.section-3 {
	background: $orange-grad;
	padding-top: 69px;
	padding-bottom: 100px;
	&__container {
		width: 1160px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: $desk) {
	.section-3 {
		padding-top: 30px;
		padding-bottom: 50px;

		&__container {
			width: 940px;
		}
	}
}

@media (max-width: $small-desk) {
	.section-3 {
		padding-top: 20px;
		padding-bottom: 20px;
		&__container {
			width: 640px;
		}
	}
}