.section-4 {
	background-image: url("../../assets/images/sec-4/bg-images/leav_foto.png");
	background-repeat: no-repeat;
	background-position: right bottom;

	padding-top: 140px;
	padding-bottom: 180px;
	color: $black-blue;
	&__container {
		width: 1160px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: $desk) {
	.section-4 {
		background-image: url("../../assets/images/sec-4/bg-images/leav_foto-2.png");
		padding-top: 100px;
		padding-bottom: 140px;

		&__container {
			width: 940px;
		}
	}
}

@media (max-width: $small-desk) {
	.section-4 {
		padding-top: 60px;
		padding-bottom: 80px;
		background-position: calc(100% + 6px) bottom;
		background-size: 11%;
		&__container {
			width: 600px;
		}
	}
}

@media (max-width: $tablet) {
	.section-4 {
		padding-top: 30px;
		padding-bottom: 60px;
		
		background-position: right calc(100% + 5px);
		background-size: 18%;

		&__container {
			width: 300px;
		}
	}
}