.testimonials {
	&__h {
		margin-top: 0;
		margin-bottom: 47px;

		text-align: center;
		font-size: 36px;
		line-height: 130%;
	}

	&__comments {
		margin-bottom: 21px;
	}

	&__scrollbar {
		display: block;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        border: 0.5px solid $pink;
        background-color: $light-gray;
        border-radius: 5px;

		width: 600px;
		height: 8px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 32px;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
		    border: none;
		    height: 6px;
		    width: 115.19px;
		    border-radius: 5px;
		    background: $orange-3;
		}

		&::-moz-range-thumb {
		    border: none;
		    height: 6px;
		    width: 115.19px;
		    border-radius: 5px;
		    background: $orange-3;
		}
	}
}

@media (max-width: $desk) {
	.testimonials {

		&__h {
			margin-bottom: 30px;
		}

		&__scrollbar {
			width: 400px;
			margin-bottom: 50px;
			&::-webkit-slider-thumb {
				width: 75px;
			}
			&::-moz-range-thumb {
				width: 75px;
			}
		}
	}
}

@media (max-width: $small-desk) {
	.testimonials {
		&__scrollbar {
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			padding: 0;
			overflow: hidden;
			border: 0;
			clip: rect(0 0 0 0);
		}
		&__comments {
			margin-bottom: 24px;
		}

		&__btn {
			margin-left: auto;
			margin-right: auto;
			width: 240px !important;
		}
	}
}

@media (max-width: $tablet) {
	.testimonials {
		&__h {
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 18px;
		}

		&__comments {
			margin-bottom: 15px;
		}
	}
}