//COLORS
$green: #4B9200;
$yellow: #FFEE2E;
$rad: #D31414;
$black-blue: #333B41;
$gray: #767474;
$gray-2: #BDBDBD;
$gray-smoky: #ABABAB;
$light-gray: #F1F3F2;
$orange-2: #E47209;
$orange-3: #FE9013;
$pink: #FEBDABBD;
$orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$frosted-glass-white: rgba(253, 253, 255, 0.52);
$orange-grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$pind-grad: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$bg-color-0: #000;
$bg-color-1: #111115;

//BREAKPOINTS 
$desk: 1599px;
$small-desk: 1000px;

//FONTS
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"),
       url("../../assets/fonts/Roboto-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
       url("../../assets/fonts/Roboto-Regular.ttf") format('truetype'),
}
body {
	font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

//DEFAULT SETTING

img,
picture {
  display: block;
  width: 100%;
  height: auto;
}

//CLASSES
%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
